.jumbotron{
    border:groove;

    margin:auto;
    background:#E8E8E8;
}


.jumbotron_2{
    border:groove;
    width: 140%;
    position: relative;
    left: -38%;
    background:#E8E8E8;
}

.workflow-desc {
   font-size: 82%; 
   display:inline-block;
   width: 400px;
   border-bottom: 3px outset red;
}

.collapse-css-transition {
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }


  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    
  }

  .form-row {
      margin-bottom: 20px;
  }

