.jumbotron{
    border:groove;
    margin:auto;
    background:#e2e2e2;
}


.jumbotron_2{
    border:groove;
    background:#e2e2e2;
    
    width:90%;
}

.jumbotron_3{
  border:groove;
  background:#E8E8E8;
  padding-right: 0px;
  width:45%;
}

.jumbotron_parameters{
  background-color: white;
  border: groove;
  width:70%;
  padding:10px;
}

.jumbotron_parameters_container {
  width: 50%;
  margin:auto;
}


.jumbotron_alg{
  border:groove;
  background:rgb(255, 255, 255);
  padding: 15px;
  margin: 15px;
  height: 300px;
  width:30%;
  display: inline-block;
}


.workflow-container {
  margin-left: 1% ;
  margin-right: 1% ;
}


.workflow-desc {
   font-size: 95%; 
   display:inline-block;
   width: 400px;
   border-bottom: 3px outset red;
}

.collapse-css-transition {
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1);
    overflow: hidden;
  }


  .upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
    
  }
  
  .upload-btn-wrapper input[type=file] {
    font-size: 100px;
    position: absolute;
    left: 0;
    top: 0;
    opacity: 0;
    
  }

  .form-row {
      margin-bottom: 20px;
  }


  .X_btnStyle  {
    background: #ff0000;
    color: #fff;
    border: none;
    padding: 2px 8px;
    border-radius: 50%;
    border-color : #990000;
    cursor: pointer;
    float: right;
  }


  .Jumbotron_Tabs {
    background-color: #e2e0e0;
  }

  .Jumbotron_Tab {
    background-color: white;
  }

  .Tab_container {
    margin-left: 2%;
    padding-bottom: 5%;
    padding-top: 1%;
  }

.caption_item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    margin-right: 25px;
}

.caption {
  margin-bottom: 20px;
  display: block;
  color: #4663b9;
}

.grey-modal .modal-content {
  background-color: #ffffff;
  border: groove;
}

.btn {
	
}

.vertical {
    border: 2px solid #565555;
    color: #565555;
    background-color: #565555;
    height: 95%;
    width: 2px;
    margin: auto;
}