ol.progtrckr {
    list-style-type: none;
    padding: 0;
    margin: "auto";
    text-align: center;
  }
  
  ol.progtrckr li {
    display: inline-block;
    text-align: center;
    line-height: 4.5rem;
    cursor: pointer;  
  }
  
  ol.progtrckr li span {
    padding: 0 1.1rem;
  }
  
  @media (max-width: 1000px) {
    .progtrckr li span {
      display: none;
    }
  }
  .progtrckr em {
    display: none;
    font-weight: 650;
    padding-left: 1rem;
  }
  
  @media (max-width: 1000px) {
    .progtrckr em {
      display: inline;
    }
  }
  
  /*steps names*/
  ol.progtrckr li.progtrckr-todo {
    color: #909090	;
    font-size: 0.8vw;
    border-bottom: 4px solid #909090	;
  }
  
  ol.progtrckr li.progtrckr-doing {
    color: black;
    font-size: 0.8vw;
    border-bottom: 4px solid #909090	;
  }
  
  ol.progtrckr li.progtrckr-done {
    color: black;
    font-size: 0.8vw;
    border-bottom: 4px solid #5cb85c;
  }
  
  ol.progtrckr li:after {
    content: "\00a0\00a0";
  }
  
  ol.progtrckr li:before {
    position: relative;
    bottom: -3.7rem;
    float: left;
    left: 50%;
  }
  
  ol.progtrckr li.progtrckr-todo:before {
    content: "\25CB";
    color: #909090	;  
    background-color: #e2e2e2;
    width: 1.0em;
    line-height: 1.2em;
  }
  
  ol.progtrckr li.progtrckr-todo:hover:before {
    color: #990000;
  }
  
  ol.progtrckr li.progtrckr-doing:before {
    content: "\2022";
    color: white;
    background-color: #e2e2e2;
    width: 1.1em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  
  ol.progtrckr li.progtrckr-doing:hover:before {
    color: #990000;
  }
  
  /* tick*/
  ol.progtrckr li.progtrckr-done:before {
    content: "\2713";
    color: white;
    background-color: #5cb85c;
    width: 1.1em;
    line-height: 1.2em;
    border-radius: 1.2em;
  }
  
  ol.progtrckr li.progtrckr-done:hover:before {
    color: #333;
  }